@model Tuple<Periodical.Models.EditionViewModel, List<Periodical.Models.ArticleViewModel>, bool>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-articles">
    <div class="edition-title"><h2>@Model.Item1.Name</h2></div>
    <hr />
    @foreach (var article in Model.Item2)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row thumb-pad">
                    <div class="col-md-4"><a href="#" class="thumbnail"><img src="/Content/@article.ImgName" alt="@article.Title"></a></div>
                    <div class="col-md-8">
                        <div class="article-name">
                            <h3>@article.Title</h3>
                        </div>
                        <div class="article-text">
                            <p class="more">@article.Text</p>
                            <p class="article-date">@article.DateTime</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(Model.Item3 == false)
    {
        <div class="row warning-to-subscribe"><h4 class="float-right">To read more articles, please, <a href="">subscribe!</a></h4></div>
    }
</div>
