@model Periodical.Areas.Security.Models.SigninViewModel

@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron-indent"></div>
<div class="jumbotron authorization-field">
    <h3 class="text-center">@ViewBag.Title</h3>
    <hr class="colorgraph">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (ViewBag.LoginIsFailed)
        {
            <div class="alert alert-danger flash error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Email or password is incorrect. Please, try again.
            </div>
        }        
        if (ViewBag.UserIsBlocked)
        {
            <div class="alert alert-danger flash error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                You were banned by admin. For further information contact admin@periodical.com.
            </div>
        }
        <div class="input-group">
            <a class="input-group-addon"><span class="input-group glyphicon glyphicon-envelope"></span></a>
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "example@email.com", autofocus = "", @class = "authorization-textbox" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="input-group">
            <a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock"></span></a>
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "authorization-textbox" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="input-group checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "authorization-checkbox" })
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="input-group">
            <h5>Don't have an account? @Html.ActionLink("Sign up!", "Index", new { area = "Security", controller = "Signup" })</h5>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}