@using Periodical.Areas.User.Models;
@model Tuple<UserViewModel, List<Tuple<string, string>>, ChangePasswordViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron-indent"></div>
<div class="profile container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1tab" data-toggle="tab">Personal Data</a>
        </li>
        <li>
            <a href="#2tab" data-toggle="tab">Subscribes</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active personal-data" id="1tab">
            @if (ViewBag.PasswordIsValid == "false")
            {
                <div class="alert alert-danger flash error" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @ViewBag.PasswordError
                </div>
            }
            <div class="jumbotron personal-data-jumbotron">
                <h3 class="text-center">Edit your personal data</h3>
                <hr class="colorgraph">
                <table class="table" id="change-profile">
                    <tbody>
                        <tr>
                            <td><strong>First name</strong></td>
                            <td>
                                @Model.Item1.FirstName
                                <a href="#change-fn-modal" data-toggle="modal" class="btn btn-default personal-data-btn float-right profile-btn">
                                    Change
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Last name</strong></td>
                            <td>
                                @Model.Item1.LastName
                                <a href="#change-ln-modal" data-toggle="modal" class="btn btn-default personal-data-btn float-right profile-btn">
                                    Change
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Cash</strong></td>
                            <td>
                                @Model.Item1.Cash $
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row text-center personal-data-row">
                    <a href="#add-cash-modal" data-toggle="modal" class="btn btn-success personal-data-btn">
                        <i class="glyphicon glyphicon-usd"></i>
                        &nbsp;Add Cash
                    </a>
                </div>
                <div class="row text-center personal-data-row">
                    <a href="#change-password-modal" data-toggle="modal" class="btn btn-info personal-data-btn">
                        <i class="glyphicon glyphicon-lock"></i>
                        &nbsp;Change password
                    </a>
                </div>
                <div class="row text-center personal-data-row">
                    <a href="#delete-account-modal" data-toggle="modal" class="btn btn-danger personal-data-btn">
                        <i class="glyphicon glyphicon-remove"></i>
                        &nbsp;Delete account
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane profile-subscribes" id="2tab">
            <table id="editions-table" class="table table-projects row-border display table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Edition</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Category</th>
                        <th>Edition</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var element in Model.Item2)
                    {
                        <tr>
                            <td>@element.Item1</td>
                            <td>@element.Item2</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="jumbotron-indent"></div>
<div id="add-cash-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Add Cash</h4>
            </div>
            <form action="/User/Profile/AddCash" method="post" id="add-cash-form">
                <div class="modal-body">
                    <div class="input-group change-psw-input">
                        <a class="input-group-addon"><span class="input-group glyphicon glyphicon-usd" id="surname" aria-hidden="true"></span></a>
                        <input name='cash' type='number' value='10' min="1" class="add-cash-input" /><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary popup-btn" name="add-cash-form">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron-indent"></div>
<div id="change-fn-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Change First Name</h4>
            </div>
            <form action="/User/Profile/ChangeFirstName" method="post" id="add-cash-form">
                <div class="modal-body">
                    <div class="input-group change-psw-input">
                        <a class="input-group-addon"><span class="input-group glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                        <input name='firstName' type='text' placeholder="your new first name" class="add-cash-input" required /><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary popup-btn" name="add-cash-form">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron-indent"></div>
<div id="change-ln-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Change Last Name</h4>
            </div>
            <form action="/User/Profile/ChangeLastName" method="post" id="add-cash-form">
                <div class="modal-body">
                    <div class="input-group change-psw-input">
                        <a class="input-group-addon"><span class="input-group glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                        <input name='lastName' type='text' placeholder="your new last name" class="add-cash-input" required /><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary popup-btn" name="add-cash-form">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="change-password-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Change Password</h4>
            </div>
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { id = "change-psw-form" }))
            {
                <div class="modal-body">
                    <div class="input-group change-psw-input">
                        <a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock" aria-hidden="true"></span></a>
                        <input type="password" placeholder="Current password" class="form-control" name="OldPassword" required autofocus>
                    </div>
                    <div class="input-group change-psw-input">
                        <a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock" id="surname" aria-hidden="true"></span></a>
                        <input type="password" placeholder="New password" id="password" class="form-control" name="NewPassword" pattern=".{6,}" required title="The password must be at least 6 characters long.">
                    </div>
                    <div class="input-group change-psw-input">
                        <a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock" id="email" aria-hidden="true"></span></a>
                        <input type="password" placeholder="Confirm new password" id="confirm_password" class="form-control" name="ConfirmPassword" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary popup-btn">Save</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="jumbotron-indent"></div>
<div id="delete-account-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Delete Account</h4>
            </div>
            <form action="/User/Profile/DeleteAccount" method="post">
                <div class="modal-body">
                    <p>Are you sure you want to delete account? You won`t be able to restore it in the future!</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default popup-btn" name="userId" value="@Model.Item1.UserId">Yes</button>
                    <button class="btn btn-danger popup-btn" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

